.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.login-box {
  background: #111;
  padding: 40px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 122, 26, 0.3);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
  background: linear-gradient(90deg, #ff7a1a, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #222;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
  font-size: 15px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #ff7a1a;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: #ff8c3d;
}
